*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #2f3640;
    color: white;
}
h1{
    padding: 10px 8px;
    font-size: 50px;
    color:#f6f5fa ;
    background-color: brown;
}
header{
    background-color: brown;
}
header .container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: brown;
}
header nav{
    background-color: brown;
}
header nav b{
    background-color: brown;
}
header .container a{
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    background-color:red;
    padding: 10px;
    border-radius: 10px;
}
header .container a:hover{
    text-decoration: underline;
    background-color: black;
}
section h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.article{
    display: flex;
    justify-content: space-between;
}
.article article{
    width: 30%;
}
article h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}
article h4{
    color: grey;
    font-size: 20px;
}
.article article address a{
    color: #f6f5fa;
    background-color: darkgray;
    text-decoration: none;
    border-radius: 15px;
    padding: 8px;
    display: inline-block;
    font-weight: bolder;
    font-family: Arial;
    margin-top: 3px;
    margin-bottom: 5px ;
}
.article article address a:hover{
    text-decoration: underline;
    background-color: black
}
.article article img{
    width: 100%;
}
.article article p{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
